
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;

}

.Team .min-height{
    min-height: 300px;
}

.Team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #fff;
    
}
.Team .teampic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid gray;
}

.Team .member .member-info{
    padding-left: 30px;
}
.Team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #34495e;
}

.Team .member p{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.Team .member .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Team .member .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}
.Team .member .social a i{
    color: #34495e;
    font-size: 16px;
    margin: 0 2px;
}
.Team .member .social a:hover{
    background: greenyellow;
}
.Team .member .social a:hover i{
    background: white;
}
.Team .member .social a+a{
    margin-left: 8px;
}
section{
    padding: 60px 0;
    overflow: hidden;
} 

.section-title{
    text-align:center;
    padding-bottom: 30px;
}
.underline{
    width: 150px;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-top: -30px;
}

.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom:20px;
    padding-bottom: 20px; 
    position: relative;
    color: #34495e;
}
.section-title p{
    margin-top: 20px;
}


    
    
    
   
    
    
    
    
  
